include tests/*.py
include share/pixmaps/*
include pyrotocanvas/*.py
include channeltinker/*.py
include channeltinkerpil/*.py
include channeltinkerpil/tests/*.py
include channeltinkerpil/tests/data/*
include license.txt
include readme.md
include changelog.md
include *.py
include *.pyw
